html, body{ margin: 0; padding: 0; }

body {
  overflow: visible !important;
  background: -webkit-linear-gradient(90deg, #085078 10%, #85d8ce 150%);
  background: -moz-linear-gradient(90deg, #085078 10%, #85d8ce 150%);
  background: -ms-linear-gradient(90deg, #085078 10%, #85d8ce 150%);
  background: -o-linear-gradient(90deg, #085078 10%, #85d8ce 150%);
  background: linear-gradient(90deg, #085078 10%, #85d8ce 150%);
  font-family: 'Roboto', sans-serif;
 }


#container{
    width: 900px;
    margin: 0 auto;
}

h1{
    color: #fff;
}

h2{
    color: #69c6d0;
}

.quote{
    font-size: 12px;
    color: #ddd;
}

.addtolist{
    margin: 10px auto;
}

.addtolist input{
    width: 88%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #c8f7f1;
    outline: none;
}

.addtolist button{
    background: #085078;
    color: white;
    width: 9%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin: 0 0 0 7px;
    text-align: center;
}

.addtolist button:hover{
    background: #063e5d;
    cursor: pointer;
}

.todolist{
    color: #444;
    list-style: none;
    margin: 0;
    padding: 0;
}

.title{
    display: block;
    float: left;
    width: 500px;
}

.box {
    background: #58a7af;
    color: #fff;
    border-radius: 5px;
    padding: 15px;
    font-size: 110%;
    display: block;
    margin: 5px 0;
}

.title{
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    margin: 0 5px;
    padding: 0 5px;
}

.fa-trash-o{
    float: right;
}
